* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

/*landing page cc */
.landing-page {
  width: 100%;
  height: 100vh;
  background-color: #e6f0ff;
  font-family: 'Courier New', Courier, monospace;
}

/* nav-bar links*/
.nav-link {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}
  
.navbar-nav {
  margin-left: 20%;
}

.navbar-brand {
  margin-top: 5px;
  margin-left: 10px;
}

.sub-brand {
  color: gray;
}

/* navbar icons */
[class*="fa-"] {
  border: 1px solid gray;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-size: small;
  padding: 5px;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.navbar-icons {
  margin-left: 90px;
}

/*landing content */

.landing-content {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.base-div {
  width: 50%;
  height: 100%;
  margin: auto;
  align-content: center;
  margin-left: 10%;
  margin-top: 10%;
}

.brand-name {
  font-weight: bold;
}

.bar {
  width: 10%;
  height: 2px;
  background-color: orangered;
}

.hire {
  margin-top: 30px;
  background-color: inherit;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border-width: 1px;
  border-color: blueviolet;
}

.hire-link {
  text-decoration: none;
}

.brand-image {
  padding-top: 20px;
  width: 50%;
  margin: auto;
  background-color: inherit;
}

.owner-image {
  width: 70%;
  height: auto;
  overflow: hidden;
}

/* services section */

.title-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
}

.title-header-caption {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  color: gray;
}

.title-bars {
  width: 10%;
  height: 1px;
  background-color: orangered;
}
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
  padding: 20px 10px;
  max-width: 1400px;
}

.service-list {
  position: relative;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  width: 20%;
  height: auto;
}

.service-list img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
}

.service-caption {
  position: absolute;
  bottom: 8px;
  left: 5px;
  color: #e6f0ff;
}

.service a {
  text-decoration: none;
}

[class*="right-long"] {
  border: none;
  color: orangered;
}

/* Blog section */

.blog-header-caption {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: gray;
  margin-top: -3%;
}

.blog-body {  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  width: 100%;
  padding: 20px 10px;
  margin-top: 0 auto;
}

.blog {
  width: 30%;
  margin: 0 auto;
  margin-top: 0%;

}

.blog-title {
  text-transform: capitalize;
  font-family: 'Courier New', Courier, monospace;
  top: 0;
  font-weight: bold;
}

.blog-content {
  font-family: 'Courier New', Courier, monospace;
  color: gray;
  font-size: smaller;
}

.blog-link a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;

}


/* about section */
.about-header {
  font-family: 'Courier New', Courier, monospace;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  color: blueviolet;
  margin-top: -3%;
}

.about-content {
  text-align: left;
  margin: auto 10%;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
  color: gray;
}

/* for mobile phones */
@media only screen and (max-width: 600px) {
  .landing-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .jeff-image {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .brand-image {
    padding-top: 0px;
    width: 60%;
    margin: auto;
    background-color: inherit;
    margin-right: 10%;
  }

  .base-div {
    width: 70%;
    height: 100%;
    margin: auto;
    align-content: center;
    margin-left: 10%;
    margin-top: 10%;
  }

  .landing-page {
    height: 90vh;
  }

  .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    margin: 0;
    padding-top: 10%;
  }

  .service-list {
    width: 45%;
    height: auto;
  }
  
  .service-list img {
    width: 100%;
    height: 200px;
    margin-top: 10%;
    object-fit: cover;
    border-radius: 10px;
  }

  .blog-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .blog {
    width: 100%;
  }
  
}
