{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="website to showcase personal work">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>den-soft</title>
        <link rel="stylesheet" href="{% static 'website/css/base_style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body>
      <div class="landing-page">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <i class="fa-brands fa-staylinked"></i>
              <a class="navbar-brand" href="#"><span class="sub-brand">Deni</span>-soft</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#"><span class="current" style="color: #3385ff;">Home</span></a>
                  <a class="nav-link" href="#">Services</a>
                  <a class="nav-link" href="#">Blog</a>
                  <a class="nav-link" href="#">About</a>
                  <a class="nav-link" href="#">Contact</a>
                  <a class="nav-link" href="#">Hire me</a>
                  <div class="navbar-icons">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-sharp fa-solid fa-phone"></i>
                  </div>
                </div>
              </div>
            </div>
        </nav>
        <div class="landing-content">
          <div class="base-div">
            <p class="brand-name">Denis<br> Namukuru</p>
            <p>We shape and connect brands to clients through insight, vision and execution.</p>
            <p>Quality guaranteed services.</p>
            <div class="bar"></div>
            <button class="hire"><a class="hire-link" href="#">Hire</a></button>
          </div>
          <div class="brand-image">
            <img class="owner-image" src="{% static '/website/images/image2.png' %}">
          </div>
        </div>
        </div>
        <div class="title-header">
          <div class="title-bars"></div>
          <div class="title-header-caption">Services</div>
          <div class="title-bars"></div>
        </div>
        <div class="services">
          <div class="service-list">
            <img src="{% static '/website/images/health.jpg' %}">
            <div class="service-caption">Health
            <p>Health living tips.</p>
            </div>
            <div class="service"><a href="#">Health</a>
              <i class="fa-solid fa-right-long"></i>
            </div>
          </div>
          <div class="service-list">
            <img src="{% static '/website/images/fitness.jpg' %}">
            <div class="service-caption">Fitness
              <p>Get expert advice weight reduction.</p>
            </div>
            <div class="service"><a href="#">Fitness</a>
              <i class="fa-solid fa-right-long"></i>
            </div>
          </div>
          <div class="service-list">
            <img src="{% static '/website/images/marketing.jpg' %}">
            <div class="service-caption">Marketing
              <p>Connect your business to the world thorough digital marketing.</p>
            </div>
            <div class="service"><a href="#">Marketing</a>
              <i class="fa-solid fa-right-long"></i>
            </div>
          </div>
          <div class="service-list">
            <img src="{% static '/website/images/mentorship.jpg' %}">
            <div class="service-caption">Mentorship
              <p>Get inspired daily through our program</p>
            </div>
            <div class="service"><a href="#">Mentorship</a>
              <i class="fa-solid fa-right-long"></i>
            </div>
          </div>
        </div>
        <div class="title-header">
          <div class="title-bars"></div>
          <div class="title-header-caption">Blog</div>
          <div class="title-bars"></div>
        </div>
        <div class="blog-header-caption">
          <p>Here are some of my most mindblowing articles...</p>
        </div>
        <div class="blog-body">
          <div class="blog">
            <div class="blog-title">Masturbation,<br>the fastest Road to Extincton</div>
            <div class="blog-content">
              <p>
                Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor sit Amet, Lorem Ipsum Dolor Sit Amet...
              </p>
              <div class="blog-link"><a href="#">Read More</a>
                <i class="fa-solid fa-right-long"></i>
              </div>
            </div>
          </div>
          <div class="blog">
            <div class="blog-title">The Road to Success,<br>Beating Odds all the way up</div>
            <div class="blog-content">
              <p>Lorem Ipsum Dolor sit Amet. Lorem Ipsum Dolor sit Amet, Lorem Ipsum Dolor sit Amet,
                Lorem Ipsum Dolor Sit Amet...</p>
              <div class="blog-link"><a href="#">Read More</a>
                <i class="fa-solid fa-right-long"></i>
              </div>
            </div>
          </div>
          <div class="blog">
            <div class="blog-title">Digital Marketing,<br>What it is and how to use it</div>
            <div class="blog-content">
              <p>
                Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor Sit Amet, Lorem Ipsum Dolor sit Amet, Lorem Ipsum Dolor Sit Amet...
              </p>
              <div class="blog-link"><a href="#">Read More</a>
              <i class="fa-solid fa-right-long"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="title-header">
          <div class="title-bars"></div>
          <div class="title-header-caption">About</div>
          <div class="title-bars"></div>
        </div>
        <div class="about-header">
          <p>Mr. Denis Namukuru.</p>
        </div>
        <div class="about-content">
          <p>
            There is one key difference between a company’s and a freelancer’s “About” page, this website illustrates it perfectly. Andrew Reifman makes sure you want not just to choose him for your project but also to become friends.

Being a freelance requires more creativity. The majority of customers are interested in your personality as much as in your works. Andrew Reifman decided that listing his projects, skills, and experiences is rather boring. Instead, he chose a couple of fun facts and cartoon graphics for the “About” page. You find out who Andrew actually is, not just what his works look like.
          </p>
        </div>
        <footer class="footer">
          <div class="footer-content">Lorem<br> Ipsum Dolor<br> sit amet</div>
          <div class="footer-content">Lorem<br> Ipsum Dolor<br> sit amet</div>
          <div class="footer-content">Lorem<br> Ipsum Dolor<br> sit amet</div>
          <div class="footer-content">Lorem<br> Ipsum Dolor<br> sit amet</div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="{% static 'website/js/index.js' %}"></script>
    </body>
</html>